---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Concept du Projet">
  <!-- SECTION 1 -->
  <section data-aos="fade-up" class="group bg-gradient-to-tr from-primary-dark via-primary to-primary-light p-6 rounded-xl shadow-lg mb-8 text-texte transition transform hover:scale-105 hover:shadow-2xl duration-300">
    <div class="flex flex-col md:flex-row items-center gap-6">
      <div class="flex-1">
        <h2 class="text-3xl md:text-4xl font-bold mb-4">L’écopâturage, c’est quoi ?</h2>
        <p class="text-lg leading-relaxed">
          L’écopâturage® est une méthode <b>de gestion des espaces verts naturelle</b>, par
          l’intervention d’herbivores domestiques. Cette gestion douce du paysage réduit, voir
          supprime l’usage des moyens mécaniques et proscrit l’usage des produits chimiques.<br><br>
          L’écopâturage® est toujours pratiqué dans un souci de respect de l’environnement et en
          particulier de préservation de la biodiversité sauvage mais également de la biodiversité
          domestique et requiert des connaissances et des compétences spécifiques.<br><br>
          La définition officielle de l’écopâturage® <b>écarte la notion de tonte de pelouse</b> par l’animal
          jugée trop réductrice, considère inappropriées les comparaisons entre les animaux et les
          machines et souligne que l’écopâturage® et l’entretien mécanique des espaces ne
          concourent pas aux mêmes objectifs.
        </p>
      </div>
      <!-- Image à droite -->
      <div class="w-full md:w-1/3 max-h-72 overflow-hidden flex justify-center items-center rounded-lg">
        <img
          src="/image_eco/image1.PNG"
          alt="Illustration écopaturage"
          class="object-contain max-h-72 w-full"
        />
      </div>
    </div>
  </section>

  <!-- SECTION 2 -->
  <section data-aos="fade-up" class="group bg-gradient-to-tr from-primary-dark via-primary to-primary-light p-6 rounded-xl shadow-lg mb-8 text-texte transition transform hover:scale-105 hover:shadow-2xl duration-300">
    <h2 class="text-3xl md:text-4xl font-bold mb-4">L’écopaturage, c’est pour qui ?</h2>
    <p class="text-lg leading-relaxed">
      Potentiellement tout le monde !<br>
      En plus de l’aspect purement « entretien des espaces verts écologique », l’écopaturage a de
      nombreux avantages :<br><br>
      -<b>Réduit les risques / démarche RSE</b> : plus besoin de se mettre dans des situations
      dangereuses en terrain pentus pour débroussailler, diminution des risques en entreprise et
      en privée, image de l’entreprise.<br><br>
      -<b>Lien social </b>: la présence des animaux attire l’œil, et amène les gens à se rencontrer et
      profiter, en bonne compagnie !<br><br>
      -<b>Préservation de la biodiversité </b>: Sur des sites particuliers, le pâturage est une bonne
      méthode pour préserver des milieux ouverts, afin de sauvegarder certaines plantes, et
      insectes (exemples prairies calcaires)<br><br>
      -<b>Economie </b>: Votre contrat couvre un entretien sur une année complète ! Un suivi de la
      pousse est réalisé en cours de pâturage mais également pendant les périodes de repousse.
      Le service est clé en main, vous n’avez rien à faire !<br><br></p>
    <p class="text-lg leading-relaxed text-center">
      Vous êtes particuliers ? Notre entreprise adhère à lacoopérative de services à la personne
      <b>INTERSERVICE</b>, ce qui vous permet de bénéficier d’un abattement fiscal de 50% sur le coût

      de nos prestations d’écopaturage.
    </p>
  </section>

  <!-- SECTION 3 (image à gauche) -->
  <section data-aos="fade-up" class="group bg-gradient-to-tr from-primary-dark via-primary to-primary-light p-6 rounded-xl shadow-lg mb-8 text-texte transition transform hover:scale-105 hover:shadow-2xl duration-300">
    <div class="flex flex-col md:flex-row items-center gap-6">
      <!-- Image à gauche -->
      <div class="w-full md:w-1/3 max-h-72 overflow-hidden flex justify-center items-center rounded-lg">
        <img
          src="/image_concept/clients.jpg"
          alt="Clients professionnels"
          class="object-contain max-h-72 w-full"
        />
      </div>
      <div class="flex-1">
        <h2 class="text-3xl md:text-4xl font-bold mb-4">Le fonctionnement </h2>
        <p class="text-lg leading-relaxed">
          La mise en place de votre projet démarre systématiquement par une <b>visite de terrain</b>
          préalable. Elle est indispensable pour évaluer les caractéristiques du site, les contraintes et
          les réglages préalables.<br>
          Un contrat annuel est mis en place, durant lequel nous nous chargeons de l’entretien de
          votre terrain. Il comprend obligatoirement des périodes de vide, nécessaire à la repousse et
          à la gestion parasitaire des animaux.
        </p>
        <br>
        <p class="text-lg leading-relaxed text-center"><b>Le SURPATURAGE est une mauvaise pratique : c’est une situation où les animaux
          sont trop nombreux ou occupent un terrain de manière trop prolongée.<br><br> 
          Les conséquences sont les suivantes :<br>
          -Manque de nourriture<br>
          -Parasitage<br>
          -Aspect visuel du terrain mauvais : terrain nu, pousse d’adventices et renforcement des zones de refus</b>
        </p>
        <br>
        <p>
          Notre service est clé en main, vous n’avez rien à faire !<br><br>
          Les animaux sont sous notre responsabilité durant toute la durée du pâturage : visites
          régulières, apport d’eau et alimentation si nécessaire, soin, manipulations etc …<br><br>
          Chaque site est systématiquement panneauté, cela permet d’afficher quelques consignes,
          des informations sur l’espèce installée mais également de trouver nos coordonnées très
          facilement en cas de problème.
        </p>
      </div>
    </div>
  </section>

  <!-- SECTION 4 -->
  <section data-aos="fade-up" class="group bg-gradient-to-tr from-primary-dark via-primary to-primary-light p-6 rounded-xl shadow-lg mb-8 text-texte transition transform hover:scale-105 hover:shadow-2xl duration-300">
    <h2 class="text-3xl md:text-4xl font-bold mb-4">La vie des animaux</h2>
    <p class="text-lg leading-relaxed">
      Nous avons fait le choix de travailler exclusivement avec des <b>races rustiques</b> : moutons
      d’Ouessant, chèvres des fossés / cou clair de Savoie / poitevines, Anes commun.
      Nécessitant des soins réguliers (tonte, parage, vermifuges, soins ponctuels …), ils sont
      cependant <b>adaptés à la vie en extérieur</b>, ne nécessite peu voire pas de compléments, se
      contentent d’<b>abris naturels</b> si il y a (arbres, haies, bosquets…).<br>
      Leur mode de vie chez nous correspondent à <b>LEURS besoins</b>. Notre responsabilité
      d’éleveurs est également de maintenir les caractéristiques des races que nous élevons,
      notamment à travers la sélection de nos reproducteurs chaque année, la mise bas en
      extérieur etc … La <b>connaissance</b> des besoins de nos animaux sont indispensable à leur
      <b>BIEN-ETRE</b>.<br>
      Lorsqu’un groupe intègre un terrain, la date précise de sortie n’est pas définie, elle dépend
      de la nature et de la densité de la végétation, de la saison, de la météo annuelle etc … Ce
      suivi est effectué par nos soins, sur-mesure et une réadaptation de la charge en animaux ou
      de l’espèce utilisée peut être réalisée en cours. En parallèle, lorsqu’un groupe est retiré d’un
      terrain, il nous est également impossible de prédire à quelle date nous les ramènerons, cela
      dépend de la repousse.<br>
      Chaque année, nos moutons sont tondus au mois de juin. Vivant en extérieur
      exclusivement, une tonte trop précoce pourrait les mettre dans une situation désagréable
      lors de printemps frais et pluvieux, surtout au moment des mise bas.
    </p>
  </section>
</Layout>
