---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Présentation des initiateurs">
  <section data-aos="fade-up" class="group bg-gradient-to-tr from-primary-dark via-primary to-primary-light p-6 rounded-xl shadow-lg mb-8 text-texte transition transform hover:scale-105 hover:shadow-2xl duration-300">
    <div class="flex flex-col md:flex-row items-center gap-6">

      <div class="w-full md:w-1/3 max-h-72 overflow-hidden flex justify-center items-center  rounded-lg">
        <img
          src="/image_index/photo1.PNG"
          class="object-contain max-h-72 w-full "
        />
      </div>

      <div class="flex-1">
        <h2 class="text-3xl md:text-4xl font-bold mb-4">Notre projet</h2>
        <p class="text-lg leading-relaxed">Créée en 2020, Les Tondeuses de Rouill’Bouc est une entreprise spécialisée dans l’écopâturage professionnel. Fondée pour valoriser un petit cheptel ovin et rentabiliser les investissements d’un autre atelier agricole, l’activité s’est rapidement développée, au point de devenir un pilier économique de l’exploitation. Aujourd’hui, l’entreprise intervient sur environ 30 hectares, principalement pour des clients professionnels : entreprises, collectivités, établissements scolaires ou associations environnementales. Les prestations incluent non seulement le pâturage écologique, mais aussi la pose de clôtures et la tonte de moutons, avec un accent particulier sur l'autonomie, la qualité et le service de proximité. Grâce à une approche rigoureuse et respectueuse de l’environnement, Les Tondeuses de Rouill’Bouc s’imposent comme un acteur local crédible et engagé dans la transition écologique.</p>
      </div>

    </div>
  </section>
  
  

  <section data-aos="fade-up" class="group bg-gradient-to-tr from-primary-dark via-primary to-primary-light p-6 rounded-xl shadow-lg mb-8 text-texte transition transform hover:scale-105 hover:shadow-2xl duration-300">
    <div class="flex flex-col md:flex-row-reverse items-center gap-6">
      <div class="w-full md:w-1/3 max-h-72 overflow-hidden flex justify-center items-center rounded-lg">
        <img
          src="/image_index/julie.PNG"
          class="object-contain max-h-72 w-full"
        />
      </div>
      <div class="flex-1">
        <h2 class="text-3xl md:text-4xl font-bold mb-4">Julie</h2>
        <p class="text-lg leading-relaxed">Julie est une œnologue de formation qui a choisi de mettre ses compétences au service de projets agricoles durables. Installée en 2017 en entreprise individuelle, elle est à l’initiative de la création de l’entreprise Les Tondeuses de Rouill’Bouc en 2020. En parallèle de ses activités viticoles, elle a su imaginer et structurer une offre d’écopâturage à la fois écologique et rentable, répondant à une vraie demande locale. Julie a également porté la création d’une seconde entreprise individuelle pour gérer cette activité, en assurant dès le départ sa viabilité économique. Visionnaire et déterminée, elle continue de jouer un rôle moteur dans le développement des services de tonte, de pose de clôture, et dans l’ancrage local de la structure à travers des actions pédagogiques et de sensibilisation.</p>
      </div>
    </div>
  </section>
  

  <section data-aos="fade-up" class="group bg-gradient-to-tr from-primary-dark via-primary to-primary-light p-8 rounded-2xl shadow-xl mb-8 text-texte transition transform hover:scale-105 hover:shadow-2xl duration-300">
    <div class="grid md:grid-cols-2 gap-8 items-center">

      <div class="w-full max-h-72 overflow-hidden flex justify-center items-center">
        <img
          src="/image_index/jean.PNG"
          class="object-contain max-h-72 w-full"
        />
      </div>
      

      <div>
        <h2 class="text-3xl md:text-4xl font-bold mb-4">Jean-Armand</h2>
        <p class="text-lg leading-relaxed">
          Fort de 25 ans d’expérience comme tondeur de moutons et d’un parcours riche dans le commerce international d’équipement forestier, Jean-Armand a décidé de se consacrer pleinement au développement de l’entreprise familiale en rejoignant à temps plein la SARL St Laurent. Grâce à son expertise technique et à sa polyvalence, il a permis d’internaliser plusieurs activités stratégiques : pose de clôtures, tonte de moutons et logistique. Il intervient sur le terrain dans plusieurs départements du Sud-Ouest, auprès de particuliers, d’écoles, d’entreprises et lors d’événements publics. Son investissement a été décisif pour structurer et professionnaliser l’offre de services, et il est désormais le garant de la qualité d’exécution et du suivi opérationnel de l’écopâturage.</p>
      </div>

    </div>
  </section>

</Layout>
